<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GoogleOauth</servlet-name>
		<servlet-class>edu.nyu.server.GoogleOauthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleOauth</servlet-name>
		<url-pattern>/googleoauth</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>GoogleCallback</servlet-name>
	    <servlet-class>edu.nyu.server.GoogleCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GoogleCallback</servlet-name>
	    <url-pattern>/googlecallback</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FacebookOauth</servlet-name>
		<servlet-class>edu.nyu.server.FacebookOauthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacebookOauth</servlet-name>
		<url-pattern>/facebookoauth</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>FacebookCallback</servlet-name>
	    <servlet-class>edu.nyu.server.FacebookCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>FacebookCallback</servlet-name>
	    <url-pattern>/facebookcallback</url-pattern>
	</servlet-mapping>

	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
